<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" color="primary"></ion-back-button>
      </ion-buttons>
    <ion-title color="primary">list- Reorder</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onTogle()">
       Toggle
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-reorder-group [disabled]="reorderDisable"  (ionItemReorder)="doReorder($any($event))">

      <ion-item *ngFor="let personaje of personajes">
        <ion-label>{{personaje}}</ion-label>
        <ion-reorder slot="end">
          <ion-icon name="pizza"></ion-icon>
        </ion-reorder>
      </ion-item>

    </ion-reorder-group>
  </ion-list>

</ion-content>
